page-profile {

}
.gallery {
    display:inline-block;
}
.galleryitem {
    display:block;
}



.page {

    display: inline;
}
.curpage {

        background-color: #F2D383;

    
    display: inline;
}
.page-container {
    list-style-type: none;
    display:inline-block;
}