<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col width-20><button ion-button clear color="light" (click)='navBack();'>Back</button></ion-col>
        <!--<ion-col offset-20 width-20><button ion-button menuToggle><ion-icon name="menu"></ion-icon></button></ion-col>-->
        <ion-col *ngIf="loginService.logged == true" width-20><button ion-button clear color="light" right>{{loginService.getUser().username}}</button></ion-col>
      </ion-row>
    </ion-grid>


  </ion-toolbar>
</ion-header>


<ion-content padding>

logged: {{loginservice.logged}}
username: {{loginservice.getUser().username}}



    <div class="bottom">


<form #uploadForm="ngForm" (ngSubmit)="upload(uploadForm.value)">



  <ion-label>file:</ion-label>
  <ion-icon name="film"></ion-icon>
  <button type="file" (click)="selectVideo()">select video</button>
  <!--<ion-input type="file" placeholder="upload file..." name="file" ngModel />-->


  <ion-item>
  <ion-label>title:</ion-label>
  <ion-input type="text" name="title" ngModel></ion-input>
</ion-item>

 <ion-item>
  <ion-label>description:</ion-label>
  <ion-input type="text" name="desc" ngModel></ion-input>
 </ion-item>


<ion-item>
  <ion-label>tags:</ion-label>
  <ion-input type="text" name="tag" [(ngModel)]="tagi"></ion-input>
  
</ion-item>
<input type="button" icon="ion-plus" name="addtag" (click)="addTag(tagi)">
   

  <div class="tag-container">
      <span class="tag" *ngFor="let tag of tags; let i = index">
        {{ tag }}
        <ion-icon name="close" (click)="deleteTag(tag)"></ion-icon>
      </span>
   
    <div *ngIf="tagerror == true"><p>max 10 tags pls</p></div>
    </div>
 




  <button type="submit" [disabled]="!uploadForm.valid">submit</button>

</form>
</div>
videoUrl: {{videoUrl}}
  videoSelected: {{videoSelected}}

  <br>
  upattu: {{upattu}}

  <h4>{{progress}}%</h4>

</ion-content>